.product-container {
    width: 500px;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: height 0.3s ease-in-out, padding 0.3s ease-in-out;
    height: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #c4bebe;
}

tr:hover td{
    background-color: #f5f5f5;
}

tr:nth-child(even):hover {
    background-color: #f9f9f9;
}

td:hover {
    background-color: #e0e0e0;
}

td.selected-row,
tr.selected-column {
    background-color: #cfd8dc;
    font-weight: bold;
}

th,
td {
    text-align: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
}

.pagination-container { 
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination .page-link {
    color: #111;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination .page-link:hover {
    color: #111;
    background-color: #e9ecef;
    border: 1px solid #ddd;
}

.pagination .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #111;
    border-color: #111;
}

.pagination .visually-hidden {
    display: none;
}
